[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
brotlipy = "==0.7.0"
requests = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
